/* THEME */
.grid-stack { 
    background: #252525;
    /* height: 100% !important; */
}
.grid-stack-item-content { 
    background-color:  #252525;
    display: flex;
    flex-direction: column;
}

/* .idom-main {
    padding: 10px;
    padding-bottom: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 1rem;
    background-color: #252525;
}

@media (min-width: 0px) {
    .idom-main {
        padding: 10px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);    
        gap: 1rem;
        background-color: #252525;
    }    
}

@media (min-width: 700px) {
    .idom-main {
        padding: 10px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
        gap: 1rem;
        background-color: #252525;
    }    
}

@media (min-width: 1000px) {
    .idom-main {
        padding: 10px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);    
        gap: 1rem;
        background-color: #252525;
    }    
}

@media (min-width: 1300px) {
    .idom-main {
        padding: 10px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);    
        gap: 1rem;
        background-color: #252525;
    }    
} */

.idom-device {
    background-color: #283239;
    border-radius: 0.5em;
    flex: 1;
}

.idom-device h2 {
    margin-top: 0px;
}

i-switch {
    display: flex;
    justify-content: center;
}

.idom-device-switches {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.idom-device .iswitch {
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    flex-basis: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5em;
    /* margin-bottom: 20px; */
    /* max-width: 350px; */
}

.idom-device .iswitch.OFF {
    background-color: #88A9BB;
}

.idom-device-sensor {
    font-size: 2em;
}

.idom-device-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    padding-left: 10px;
}

.idom-device-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 6px;
    gap:6px;
}

.idom-device-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-content: center;
    justify-content: center;
    align-items: center; */
}

.spinner {
    display: inline-block;
    width: 24px;
    height: 24px;
    /* margin: 100px auto; */
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* */

* {
    color: #eaeaea;
}

/* */

div, fieldset, input, select {
    /* padding: 5px; */
    font-size: 1em;
}

fieldset {
    background: #4f4f4f;
}

p {
    margin: 0.5em 0;
}

input {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #dddddd;
    color: #000000;
}

input[type=checkbox], input[type=radio] {
    width: 1em;
    margin-right: 6px;
    vertical-align: -1px;
}

input[type=range] {
    width: 99%;
}

select {
    width: 100%;
    background: #dddddd;
    color: #000000;
}

textarea {
    resize: vertical;
    width: 98%;
    height: 318px;
    padding: 5px;
    overflow: auto;
    background: #1f1f1f;
    color: #65c115;
}

body {
    text-align: center;
    font-family: verdana, sans-serif;
    background: #252525;
}

td {
    padding: 0px;
}

button {
    border: 0;
    border-radius: 0.3rem;
    background: #1fa3ec;
    color: #faffff;
    line-height: 2.4rem;
    font-size: 1.2rem;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background: #0e70a4;
}

button:disabled, button[disabled] {
    background: #cccccc;
    cursor: default;
}

.bred {
    background: #d43535;
}

.bred:hover {
    background: #931f1f;
}

.bgrn {
    background: #47c266;
}

.bgrn:hover {
    background: #5aaf6f;
}

a {
    color: #1fa3ec;
    text-decoration: none;
}

.p {
    float: left;
    text-align: left;
}

.q {
    float: right;
    text-align: right;
}

.r {
    border-radius: 0.3em;
    padding: 2px;
    margin: 6px 2px;
}